body {
  font-family: Helvetica;
}

#header {
  padding: 2% 0%;
}

#logo-text {
  padding: 0% 5%;
  max-height: 45px;
}

#logo-box img {
  padding: 0% 1% 0% 0%;
}

h1 {
  font-size: 1.7em;
  font-family: cursive;
}

h3 {
  font-size: 0.8em;
  font-family: Source Sans Pro;
}

nav {
  padding: 1% 0%;
}
nav ul li {
  display: inline;
}

nav ul li img {
  padding: 0% 0.4%;
}

img {
  float: left;
  max-width: 960px;
}

hr {
	border-top: 10px solid gray;
}
#article img{
  width: 100%
}
#recipe-background{
  background-image: url("../assets/list-bg.png");
  background-repeat: repeat-y;
}
#article-text p{
  text-indent: 30px;
}

footer hr:after {
    background: url('../assets/small-logo.png') no-repeat top center;
    content: "";
    display: block;
    height: 30px; /* height of the ornament */
    position: relative;
    top: -15px; /* half the height of the ornament */
}
footer hr{
  border-top: 1px solid rgba(156, 156, 156, .3);
}
footer p{
  color: lightgray;
  text-align: center;
}
#share-button{
  background-color: rgb(186, 113, 88);
  color: white;
}
#author-text{
  float: left;
  padding-left: 10px;
  max-width: 75%;
}
.todo-list{
  padding: 4% 10%;
  line-height: 1.4;
}
